

@font-face {
    font-family: 'pad_thairegular';
    src: url('../fonts/padthai_-webfont.eot');
    src: url('../fonts/padthai_-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/padthai_-webfont.woff2') format('woff2'),
         url('../fonts/padthai_-webfont.woff') format('woff'),
         url('../fonts/padthai_-webfont.svg#pad_thairegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Sticky footer styles
-------------------------------------------------- */
html, {
  position: relative;
  min-height: 100%;
}
body {
  padding: 0;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background: transparent;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.navbar-light.navbar {
  background: rgba(255,255,255,1);
  transition: background 1s linear;
}
.logo {
  width: 400px;
  margin: 0 auto;
  margin-top: 20px;
}

@include media-breakpoint-between(md, xl) {
.navbar-light.navbar {
  background: rgba(255,255,255,0.2);
  transition: background 1s linear;
}
.navbar-light.fade-in {
  background: rgba(255,255,255,1);
}

.logo {
  position: absolute;
  top: 70px;
  right: 20%;
  margin: 0;
}
}


.navbar-light .navbar-nav .nav-link {
  color: black;
  font-weight: bold;
}
.navbar-light .navbar-nav .nav-link.active {
  color: red;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: red;
}
#home {
  background: url('../images/pagode.jpg');
  background-size: cover;
}

#home > .container {
  height: 100vh;
  min-height: 300px;
  position: relative;

}

.downbutton {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.downbutton a {
  color: white;
  text-decoration: none;
}
.downbutton a:hover {
  color: red;
}

.pos50 {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
}

h5 {
    font-family: 'pad_thairegular';
    font-weight: 900;
    font-size: 2em;
    color: red;

    text-shadow: 0 1px 0 rgb(204,204,204) , 0 2px 0 rgb(201,201,201) , 0 3px 0 rgb(187,187,187) , 0 4px 0 rgb(185,185,185) , 0 5px 0 rgb(170,170,170) , 0 6px 1px rgba(0,0,0,0.0980392) , 0 0 5px rgba(0,0,0,0.0980392) , 0 1px 3px rgba(0,0,0,0.298039) , 0 3px 5px rgba(0,0,0,0.2) , 0 5px 10px rgba(0,0,0,0.247059) , 0 10px 10px rgba(0,0,0,0.2) , 0 20px 20px rgba(0,0,0,0.14902);}

h1 {
    font-family: 'pad_thairegular';
    font-weight: 900;
    color: red;
    text-align: center;
    text-shadow: 0 1px 0 rgb(204,204,204) , 0 2px 0 rgb(201,201,201) , 0 3px 0 rgb(187,187,187) , 0 4px 0 rgb(185,185,185) , 0 5px 0 rgb(170,170,170) , 0 6px 1px rgba(0,0,0,0.0980392) , 0 0 5px rgba(0,0,0,0.0980392) , 0 1px 3px rgba(0,0,0,0.298039) , 0 3px 5px rgba(0,0,0,0.2) , 0 5px 10px rgba(0,0,0,0.247059) , 0 10px 10px rgba(0,0,0,0.2) , 0 20px 20px rgba(0,0,0,0.14902);
}


.parallax-window {
    min-height: 400px;
    background: transparent;
}


/* Ensure elements load hidden before ScrollReveal runs */
.sr .reveal > * { visibility: hidden; }

.reveal { padding-top: 20px; }

main section:last-child {
  min-height: 50vh;
}

.card ul {
  list-style-position: inside;
  padding-left:0;

}

.text-left-right {
  text-align: right;
  position: relative;
  height: 1rem;
}
.left-text {
  left: 0;
  position: absolute;
}
.right-text {
  top: -1rem;
  right: -2rem;
  position: absolute;
  line-height: 1.618rem;
  transform: rotate(15deg);
  color: white;
text-shadow: 
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;

}

#cateringmenyer .price {
 top: 0rem;
  right: -1rem;
  position: absolute;
  line-height: 1.618rem;
  transform: rotate(15deg);
  color: white;
text-shadow: 
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;

}
#cateringmenyer .price:before { 
    content: "";
    position: absolute;
    width: 100%;
    height: 300%;
    right: 0px;
    top: 1rem;
    transform: translate(0, 50%);
    background: #999;
    z-index: -1;
  }

/*
<h6 class="card-subtitle mb-2 menuentry">
                  <span data="Meny nr. 1 - 3 rette r5555555 555 5555"></span><span>200,-</span>
                  </h6>   
.menuentryo {
  position: relative;
  overflow: hidden; 
}
.menuentryo span:first-child:before {
  position: absolute;
  padding-right: 2.5em;
  content: attr(data) ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .";
}
.menuentryo span:first-child:after {
  opacity: 0;
  padding-right: 2.5em;
  content: attr(data);
}
.menuentryo span:nth-child(2) { 
  position: absolute;
  right: 0; 
}

*/

.menuentry {
  position: relative;
  overflow: hidden; 
  margin-top: 1em;
}
.menuentry div.real {
  position: absolute;
  padding-right: 3.5em;
  
}
.menuentry div.real span.dots:after {
font-size: 0.5em;
  content: attr(data) ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .";
}
.menuentry div.real span.price { 
  position: absolute;
  right: 0; 
}
.menuentry div.stretch  { 
visibility: hidden;
  padding-right: 3.5em;
}
.menuentry span.nameb  { 
  display: block;
}
.menuentry span.allergens  { 
font-size: 0.8em;
}